body {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

#container {
	width: 80%;
	margin: 0 auto;
}
header {
	
}

#logo {
	display: flex;
	background-color: lightgrey;
	align-items: center;
	width: 100%
}

#logo img, h2 {
	display: inline;
}

#logo img {
	width: 30%;
}

#logo h2 {
	font-weight: 700;
	font-size: 1.5rem;
}

nav {
	background-color: brown;
	padding: 1rem;
	margin: 0 auto;
}

nav li {
	display: inline;
}

li a {
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 1rem;
	color: white;
	font-weight: 700;
}

li a:hover {
	color: lightgrey;
}